@charset "UTF-8";
@import "assets/css/bootstrap";
@import "assets/css/fancybox3";
@import "assets/css/slick";
@import "assets/css/slick-theme";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
} 

$primarycolor: #272727;
$secondarycolor: #383838;
$white: #fff;
$black: #000;

$textcolor: #575757;
$linkcolor: #1f6fd1;

$titlefont: 'Josefin Sans',  sans-serif;
$bodyfont: 'Open Sans', sans-serif;


// Template parts (after variables above)
@import "assets/css/forms";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::-moz-selection { 
	background: $linkcolor;
	color: $white; 
}

::selection { 
	background: $linkcolor; 
	color: $white;
}

body {
	background: $white;
	font-family: $bodyfont;
	-webkit-font-smoothing: antialiased;
	line-height: 30px;
	font-weight: 400;
	font-size: 16px;
	word-break: break-word;
	&.show {
		overflow: hidden;
	}
}

p {
	margin: 0 0 15px 0;
	&.meta {
		color: lighten($textcolor, 20%);
		font-size: 13px;
		margin: 0 0 20px 0;
		font-weight: 700;
		
		a { 
			color: $textcolor
			
			&:hover { 
				color: $linkcolor; 
			}
		}
	}
}

strong { font-weight: bold; }

a {
	color: $linkcolor;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus  {
		color: darken($linkcolor, 5%);
		text-decoration: underline;
	}

}

.search-highlight {
	background-color: $linkcolor;
	color: $white;
}

.clearfix {
	clear: both;
}

table {
	td {
		vertical-align: top;
	}

	th {
		vertical-align: middle;
	}
}

img {
	display: inline-block;
    height: auto;
    max-width: 100%;
    @include border-radius(2px);

    &.alignleft {
    	float: left;
    }

	&.aligncenter {
		display: block;
	    margin-left: auto;
  		margin-right: auto;
	}

    &.alignright {
    	float: right;
    }
}

ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 0px;
}

.wp-caption {
	text-align: center;
	&.alignleft {
		float: left;
		margin-right: 30px;
	}
	&.aligncenter {
    	margin-left: auto;
    	margin-right: auto;
    }
    &.alignright {
    	float: right;
    	margin-left: 30px;
    }
}

figure {
	&.thumb {
		float: left;
		margin-right: 20px;
	}
}

.gallery {
	.gallery-item {
		.gallery-icon {
			margin-bottom: 10px;
			a img{
				border: none !important;
				opacity: 1;
				transition: all ease-in-out 125ms;

				&:hover {
					opacity: 0.75;
				}
			}
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $textcolor;
	font-family: $titlefont;
	font-weight: 600;
}

h1 { 
	font-size: 36px;
	margin: 0 0 32px 0;
}

h2 { 
	font-size: 24px;
	margin: 0 0 24px 0;		
}

h3 { 
	font-size: 20px; 
	margin: 0 0 24px 0;		
}

h4 { 
	font-size: 18px;
	margin: 0 0 24px 0;		
}

h5 { 
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 24px 0;
}

h6 { 
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 24px 0;		
}


.btn {
	padding: 5px 15px;
	color: $white;
	text-decoration: none;
	display: inline-block;
	transition: all ease-in-out 125ms;

	&.primary {
		background: $primarycolor;

		&:hover,
		&:active,
		&:focus {
			color: $white;
			background: lighten($primarycolor, 15%);
			text-decoration: none;
		}
	}

	&.secondary {
		background: lighten($secondarycolor, 25%);

		&:hover,
		&:active,
		&:focus  {
			color: $white;
			background: $secondarycolor;
			text-decoration: none;
		}
	}
}

.more {

	&:after {
		content: "»";
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

.back-link {
	&:before {
		content: "«";
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#cookie-notice {
	position: fixed;
	z-index: 10;
	padding: 25px;
	bottom: 25px;
	right: 25px;
	width: 370px;
	height: auto;
	background: $white;
	animation: fadein 1s;

	.cookie-notice-text {
		margin-bottom: 15px;
		display: inline-block;
		color: $textcolor;
	}

	a{
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
		&.cookie-dismiss{


			width: 100%;
			display: inline-block;
			border: 2px solid $linkcolor;
			text-align: center;
			padding: 3px;
			font-weight: 600;
			text-decoration: none;
			transition: all ease-in-out 125ms;

			&:hover {
				text-decoration: none;
				color: $white;
				background: $linkcolor;
			}
		}
	}
}

nav {
	&.pagination {
		padding: 10px 0px;
		.screen-reader-text {
			display: none;
		}

		.nav-links {
			.page-numbers {
				padding: 4px 10px;
				color: $textcolor;
				font-weight: 600;

				&.current {
					background: $linkcolor;
					color: $white;

					&:hover,
					&:focus,
					&:active {
						background: $linkcolor;
						color: $white;
					}
				}

				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
					background: darken($white, 5%);
				}

				&.dots {
					&:hover,
					&:focus,
					&:active {
						background: transparent;
					}
				}
			}
		}

	}
}


blockquote {
	border-left: $primarycolor 5px solid;
	padding: 10px 0px 10px 20px;
	margin: 20px 15px 20px 30px;

	p {
		color: lighten($black, 40%);
		margin: 0px;
	}		
}

.admin-bar #masthead {
  top: 32px;

  .main-nav {
  	top: 107px !important;
  }
}

#masthead {
	background: $black;
	position: fixed;
	clear: both;
	width: 100%;
	margin: 0;
	top: 0;
	z-index: 10;

	.site-branding {
		margin-bottom: 0px;
		padding-top: 10px;
		.logo {
			position: relative;
			z-index: 10;
			width: 130px;
			background: url(../img/logo_sw.png) no-repeat;
			background-size: contain;
			a {
				height: 65px;
				display: block;
				text-indent: -9999px;
				font-weight: 400;
			}
		}
	}

	.site-description {
		font-size: 16px;
		margin: 0px;
		color: lighten($secondarycolor, 25%);
	}
}

.frontpage {
	text-align: center;
	position: relative;
	.slider {
		margin: 0;
		overflow-x: hidden;
		height: 60vh;
		li {
			height:60vh;
			background-size: cover;
			background-position: center center;
		}

		.slick-next {
			right: 2px;
			z-index: 1;
			height: 30px;
    		width: 30px;
		}

		.slick-prev {
			left: 2px;
			z-index: 1;
			height: 30px;
    		width: 30px;
		}

		.slick-prev:before, .slick-next:before {
    		font-size: 30px;
    		line-height: 1;
    		color: $white;
    		opacity: .5;
    		text-shadow: 0 0 15px $black;
		}
	}

	#subheader {
		position: absolute;
		width: 60%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	h1, h2 {
		color: $white;
		font-size: 32px;
		text-shadow: 0 0 15px $black;
		margin: 0;
	}

	h1 {
		font-size: 42px;
		margin-bottom: 5px;
	}
}

.headerimage {
	height: 35vh;
	position: relative;
	background-size: cover;
	background-position: center center;

	h1 {
		position: absolute;
		line-height: 1;
		bottom: 0;
		background: fade-out($black, 0.3);
		color: $white;
		font-size: 45px;
		text-align: center;
		width: 100%;
		margin: 0;
		padding: 25px;
		padding-left: 0;
		font-weight: 400;
	}
}

.home {

	.main-content {
		h2 {
			font-family: $bodyfont;
		}
	}
	.projects {
		padding: 30px 15px;
		background: darken($white, 5%);
		.projects-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			aling-items: center;

			article {
				width: 23%;
				margin-bottom: 25px;
				a {
					transition: all ease-in-out 125ms;
					figure {
						height: 210px;
						max-height: 220px;
						background-size: cover;
						background-position: center center;
						position: relative;
						opacity: 1;

						h2 {
							background: fade-out($black, 0.3);
							color: $white;
							font-size: 16px;
							position: absolute;
							bottom: 0px;
							height: auto;
							width: 100%;
							padding: 10px;
							margin: 0;
							transition: all ease-in-out 125ms;
						}
					}

					&:hover {
						text-decoration: none;
						figure {
							h2 {
								background: fade-out($white, 0.3);
								color: $black;
							}
						}
					}
				}
			}
		}
	}
}


.post-type-archive-snd_portfolio {
	.main-content {
		min-height: 580px;
	}
}

.archive {
	.filter-bar {
		background: darken($white, 5%);
		padding: 20px;
		h3 {
			margin: 0;
		}
		.filter {
			margin:0;
			li {
				display: inline-block;
				margin-right: 5px;
				padding: 2px 8px;
				margin-bottom: 5px;
				background: darken($white, 20%);
				border: 1px solid darken($white, 20%);
				transition: all ease-in-out 125ms;
				@include border-radius(3px);
				a {
					font-size: 14px;
					color: $textcolor;
					&:hover,
					&:focus,
					&:active {
						text-decoration: none;
					}
				}

				&:hover {
					//box-shadow: 0 0 3px fade-out($textcolor, .5);
					background: darken($white, 15%);
					border: 1px solid darken($white, 15%);

				}

				&.active {
					background: $textcolor;
					border-color: $textcolor;
					a { color: $white;
						text-decoration: none;}
				}
			}
		}
	}

	#projects {
		padding: 0;
		position: relative;
		clear: both;
		article {
			position:relative;
			a {
				transition: all ease-in-out 125ms;
				figure {
					height: 210px;
					max-height: 220px;
					background-size: cover;
					background-position: center center;
					position: relative;
					opacity: 1;

					h2 {
						background: fade-out($black, 0.3);
						color: $white;
						font-size: 16px;
						position: absolute;
						bottom: 0px;
						height: auto;
						width: 100%;
						padding: 10px;
						margin: 0;
						transition: all ease-in-out 125ms;
					}
				}
				&:hover {
					text-decoration: none;
					figure {
						h2 {
							background: fade-out($white, 0.3);
							color: $black;
						}
					}
				}
			}
		}
	}
}

.page-template-page-prices {
	aside {
		background: darken($white, 5%);
		.pricelist {
			padding: 20px 5px;
		}
	}
}

.handle {

	float: right;
	color: $white;
	box-sizing: border-box;
	padding: 20px 10px;	
	cursor: pointer;
	display: none;
	z-index: 0;

	.mobile-icon {
		float: right;
		padding-top: 10px;

		.line {
			height: 2px;
			width: 20px;
			background-color: $white;
			margin: 4px 0px;
			transition: all ease-in-out 250ms;
			position: relative;

			&:nth-child(1) {
				margin-top: 0px;
			}

			&:nth-child(3) {
				margin-bottom: 0px;
			}
		}
	}

	&.show {
	.mobile-icon {
		float: right;
		padding-top: 5px;

		.line {
			height: 2px;
			width: 20px;
			background-color: $white;
			margin: 4px 0px;

			&:nth-child(1) {
				top: 6px;
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				top: -6px;
				transform: rotate(-45deg);
			}
		}
	}

	}

}


nav {
	ul  {
		&.main-nav {
			overflow: hidden;
			color: $white;
			font-size: 0px;
			text-align: right;
			transition: max-height 0.4s;

			li {
		 		display: inline-block;
		 		padding: 0px;
		 		font-size: 14px;

		 		&.menu-item-has-children {
		 			a {
		 				&:after {
						    border-color: $white transparent transparent;
						    border-radius: 3px;
						    border-style: solid;
						    border-width: 5px 5px 0;
						    content: '';
						    display: inline-block;
						    height: 0;
						    margin: 0 0 3px 6px;
						    position: relative;
						    top: 1px;
						    width: 0;
		 				}
		 			}

		 			ul {
		 				&.sub-menu {
		 					width: 200px;
		 					background-color: $white;

		 					li {
		 						text-align: left;
		 						width: 100%;

		 						&.current-menu-item {
		 							a {
		 								color: $white;
		 							}
		 						}
		 						a {
		 							font-size: 14px;
		 							color: $textcolor;
		 							padding: 10px 20px;
		 							&:after {
		 								content: none;
		 							}

		 							&:hover,
		 							&:focus,
		 							&:active {
					 				background-color: $secondarycolor;
					 				color: $white;
					 				text-decoration: none;
					 			}
		 						}
		 					}
		 				}
		 			}
		 		}
		 		
		 		a {
		 			display: block;
		 			padding: 25px 20px;
		 			color: $white;
		 			transition: all ease-in-out 125ms;

		 			&:hover,
		 			&:focus,
		 			&:active {
		 				background-color: $secondarycolor;
		 				color: $white;
		 				text-decoration: none;
		 			}

		 		}

		 		&.current-menu-item,
		 		&.current-menu-ancestor {
					background-color: $secondarycolor;
					a { color: $white;}
				}
		 	}
		}
	}
}

.main-content {
	padding: 60px 0px;
	background-color: $white;

	h1 {
		margin-bottom: 10px;
	}

	article {

		margin-bottom: 20px;

		ul {
			list-style-type: disc;
			margin-left: 20px;
		}
	}

	.sidebar {
		display: inline-block;

		.widget {
			margin: 20px 0px;
			padding: 20px;
			background: darken($white, 5%);

			.widgettitle {
				font-size: 22px;
			}

			&:nth-child(1) {
				margin-top: 0px;
			}
		}
	}
}

.widget_rby_social {
	ul { 
		margin-top: -10px;

		li {
			margin-bottom: 10px;

			&:nth-child(1) {
				margin-top: 10px;
			}
			a {
				line-height: 20px;

				i {
					background: $white;
					width: 25px;
					height: 25px;
					border-radius: 200px;
					margin-top: 0px;
					margin-right: 8px;
					line-height: 25px;
					text-align: center;
					display: inline-block;
					transition: all ease-in-out 125ms;

					svg {
						fill: $white;
						display: inline;
						height: 13px;
						margin: 6px auto 0;
						transition: all ease-in-out 125ms;
					}
				}
				.title {
					display: inline;
				}

				&:hover,
				&:focus,
				&:active  {
					i {
						background: $white !important;
						svg {
							fill: $primarycolor;
						}
					}
				}
			}

			&.twitter {
				a {
					i {
						background: #55ACEE;
						
					}

				}
			}

			&.facebook {
				a {

						i {
							background: #3B5998;

						}
				}
			}

			&.instagram {
				a {

						i {
							background: #E12F67;
						}
					
				}
			}

			&.linkedin {
				a {

						i {
							background: #007bb5;
						}
					
				}
			}

			&.googleplus {
				a {

						i {
							background: #CC3732;
						}
					
				}
			}

			&.youtube {
				a {

						i {
							background: #CD201F;
						}
					
				}
			}

			&.email {
				a {

						i {
							background: $linkcolor;
						}
					
				}
			}

			&.rss {
				a {

						i {
							background: #f26522;
						}
				}
			}
		}

		&.large-icons {

			i {
				width: 45px;
				height: 45px;
				margin-right: 15px;
				margin-bottom: 10px;
				float: left;

				svg {
					height: 20px;
					margin: 12px auto 0;
				}
				
			}

			.title {
				display: none;
			}
		}

		&.small-icons {
			i {
				width: 25px;
				height: 25px;
				line-height: 25px;
				font-size: 15px;
				margin-right: 6px;
				margin-bottom: 10px;
				float: left;
			}
			.title {
				display: none;
			}
		}
	}
}

.site-footer {
	background-color: $secondarycolor;
	color: $white;
	padding: 50px 0 15px;
	font-size: 14px;
	line-height: 22px;

	p {
		color: $white;
		font-size: 14px;
		margin: 0;
	}

	a {
		color: $white;
		font-size: 14px;
		
		&:hover,
		&:focus,
		&:active {
			color: $white;
			text-decoration: underline;
		}
	}


	.widget {
		margin-bottom: 20px;
		.widgettitle {
			font-size: 22px;
			margin-bottom: 10px;
			color: $white;
		}
	}

	&#colophon {
		padding: 20px 0px;
		background: $primarycolor;
		font-size: 14px;
		p, a {
			font-size: 14px;
			color: darken($white, 30%);
		}
	}
}

nav {
	&.footernav {
		ul {
			display: block;
			text-align: right;
			margin: 0;
			
			li {
				text-align: right;
				display: inline-block;

				a {
					padding: 0 5px;
				}
			}
		}
	}
}

nav {
	&#pager {
		.page-numbers {
			background: lighten($secondarycolor, 25%);
			display: inline-block;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			border-radius: 5px;
			color: $white;
				transition: all ease-in-out 125ms;

			&.current {
				background: $primarycolor;
				color: $white;

				&:hover,
				&:focus,
				&:active {
					background: $primarycolor;
				}
			}

			&.next {
				width: auto;
				padding: 0 10px;
			}

			&.prev {
				width: auto;
				padding: 0 10px;
			}

			&:hover,
			&:focus,
			&:active { 
				text-decoration: none;
				background-color: #666;
			}
		}
	}
}


@media screen and (min-width: 992px) { 

	nav {
		ul  {
			&.main-nav {
				li {
			 		display: inline-block;

			 		&.menu-item-has-children {
			 			ul {
			 				transition: all ease-in-out 125ms;
							display: none;
							position: absolute;
							z-index: 1;
			 			}

						&:hover,
						&:focus,
						&:active {
			 				ul {
			 					&.sub-menu {
			 						display: block;
			 						position: absolute;
									z-index: 1;
								}
			 				}
			 			}
			 		}

			 	}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.handle {
		display: inline-block;
		margin-top: 5px;
	}

		nav {
			ul.main-nav {
				background: #272727;
				transition: all ease-in-out 250ms;
				position: fixed;
				top: 75px;
				right: -100%;
				left: 100%;
				bottom: 0;

				&.show {
					top: 75px;
					left: 0;
					right: 0;
					bottom: 0;
				}

				li {
					width: 100%;
					a {
						padding: 8px 20px;
						font-size: 16px;
						line-height: 1.5;
					}

					&.menu-item-has-children {
						ul {
							 clear: both;

							&.sub-menu {
								padding-bottom: 0px;
								width: 100%;
								background: #272727;

								li { 
									text-align: right;
									padding-left: 20px;
									padding-right: 15px;

									a {
										width: 100%;
										color: $white;
										font-size: 14px;
										padding: 2px 20px;

										&:hover {
											background: transparent;
										}
									}

									&:hover {
										background: $secondarycolor;
									}
								}
							}
						}
					}
					&.current-menu-parent {
						background: transparent;
					}
				}
			}

			&.topnav { 
				display: none;
			}
			&.footernav {
				clear: both;
				display: block;
				text-align: center;

				ul {
					text-align: center;
				}
			}
		}
		
	.site-info {
		text-align: center;
	}

	.home .projects .projects-wrapper article {
		width: 48%;
	}
}

@media screen and (max-width: 769px) { 
	.home .projects .projects-wrapper article {
		width: 100%;
	}

	.headerimage {
		margin-top: 60px;
	}

	.frontpage {
		#subheader {
			width: 80%;
		}
	}

	#gallery-2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.gallery-item {
			width: 46% !important;
			margin-bottom: 0px;
		}
	}

	.archive {
		.filter-bar {
			padding: 20px 0;
			.filter {
				li {
					margin-right: 3px;
					padding: 2px 5px;
					a {
						font-size: 12px;
					}
				}
			}
		}
	}

	.post-type-archive-snd_portfolio  {
		.main-content {
			padding-top: 30px;
		}
	}
}

@media screen and (max-width: 499px) {
	
	#cookie-notice {
		width: 100%;
		right: 0px;
		bottom: 0px;
	}

}

// Remove if the biggest size is to big
@media screen and (min-width: 1500px) {
  .container {
    width: 1400px;
  }
}

// RETINA
@media  only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
// Add special classes of img here

}